// Variables
// $ is for variables, & is to specify the tag being the same (ex: &:pseudo)
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black: #000000;
$color-gray-dark: #707070;
$color-gray-dark-v2: #909090;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #e0e0e0;
$color-white:#f0f0f0;


// Var for grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font

$default-font-size: 1.6rem;