.header {
   // vh is viewheight
   height: 85vh; 
   position: relative;
   @include generate-background(url(../img/hero-small.jpg));
   // background-image is now moved to @mixin
   // pin side of the background image to stay when window size changed
   background-position: top;
   // control visible area with clip-path, polygon define the inner visible shape
   

   @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      height: 95vh; 
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
   }

   @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
      only screen and (min-width: 125em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
      @include generate-background(url(../img/hero.jpg));
   }

   @include respond(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
   }

   &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
   }

   &__logo {
      height: 3.5rem;
   }

   &__text-box {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      // text-align is used on the container, and it control all text items inside the container
      text-align: center;
   }
}