.bg-video {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: .15;

   &__content {
      width: 100%;
      height: 100%;
      // similar to background-size: cover -> 
      // element will fill the entire parent maintaining aspect ratio
      // works with html element.
      object-fit: cover;
   }
}